# Ignore everything by default
*

# Allow Git config
!.gitignore

# Allow SVM project
!SVM/
!SVM/**

# Allow Flight Price Prediction project
!Flight_Price_Prediction_RFR/
!Flight_Price_Prediction_RFR/**